NODE_ENV=development
PORT=3000

DATABASE_URL="mysql://trinus:trinus@localhost:3306/trinus"

JWT_SECRET="change-me"
JWT_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="1h"
AUTH_COOKIE_NAME="trinus_auth"
AUTH_REFRESH_COOKIE_NAME="trinus_refresh"
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE="lax"

CORS_ORIGIN="http://localhost:4500"
